appnope==0.1.3
auto-sklearn==0.15.0
backcall==0.2.0
catboost==0.26.1
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==2.2.0
ConfigSpace==0.4.21
cycler==0.11.0
Cython==0.29.33
dask==2022.2.0
debugpy==1.6.5
decorator==5.1.1
distributed==2022.2.0
distro==1.8.0
einops==0.6.0
emcee==3.1.3
entrypoints==0.4
fonttools==4.38.0
fsspec==2022.11.0
future==0.18.3
gpytorch==1.5.0
graphviz==0.20.1
HeapDict==1.0.1
hyperopt==0.2.5
idna==3.4
importlib-metadata==6.0.0
ipykernel==6.16.2
ipython==7.34.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==7.4.9
jupyter_core==4.12.0
kiwisolver==1.4.4
liac-arff==2.5.0
lightgbm @ file:///Users/runner/miniforge3/conda-bld/lightgbm_1614107096869/work
locket==1.0.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
minio==7.1.13
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/133f1d0b-8fd8-4fa0-679e-7214401cbd75/volume/mkl_random_1626186083386/work
mkl-service==2.4.0
msgpack==1.0.4
nest-asyncio==1.5.6
networkx==2.6.3
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_10c245a1-1c81-453c-8b70-3e944787a8d9mo1xhesu/croots/recipe/numpy_and_numpy_base_1653915529188/work
openml==0.12.2
packaging==23.0
pandas==1.3.5
parso==0.8.3
partd==1.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
plotly==5.12.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pyarrow==10.0.1
Pygments==2.14.0
pynisher==0.6.4
pyparsing==3.0.9
pyrfr==0.8.3
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==5.4.1
pyzmq==25.0.0
requests==2.28.2
scikit-learn==0.24.2
scipy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_595zrwl1it/croots/recipe/scipy_1661390418356/work
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
smac==1.2
sortedcontainers==2.4.0
tabpfn==0.1.8
tblib==1.7.0
tenacity==8.1.0
threadpoolctl==3.1.0
toolz==0.12.0
torch==1.9.0
tornado==6.2
tqdm==4.62.1
traitlets==5.8.1
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
xgboost==1.5.0
xmltodict==0.13.0
zict==2.2.0
zipp==3.11.0
